/* styles.css */

/* Webkit (Chrome, Safari) */
.list::-webkit-scrollbar {
  @apply w-[5px]
}



.list::-webkit-scrollbar-thumb {
  /* background-color: rgb(255, 64, 0); */
  @apply bg-teal-500 rounded-lg
}


.transition-comment {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.comment-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}
